#barChart {
  background-color: rgb(252, 169, 183);
  width: 50vw;
  height: 40vh;
  border-radius: 0.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.axis line {
  stroke: white;
}

.axis path {
  stroke: white;
  stroke-width: 0.2rem;
}

.axis text {
  fill: white;
  font-size: small;
}

#pieChart {
  background-color: rgb(252, 169, 183);
  width: 50vw;
  height: 40vh;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
