body {
  //   min-height: 100vh;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #be3b63, #f0d9d9) no-repeat fixed;
}

// Pages
@import "page_home.scss"; // Home Page
@import "page_profile.scss"; // Client

@import "fonts.scss";

// Components
@import "cards.scss";
